name: TrackNow Deploy

on:
  push:
    branches:
      - main

jobs:
  terraform:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v3
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-session-token: ${{ secrets.AWS_SESSION_TOKEN }}
          aws-region: sa-east-1

      - name: Check caller identity
        run: aws sts get-caller-identity

      - name: Test EC2 CreateVpc dry-run
        run: aws ec2 create-vpc --cidr-block 10.0.0.0/16 --dry-run

      - uses: hashicorp/setup-terraform@v2

      - name: Terraform Init
        run: terraform -chdir=prod init

      - name: Terraform Validate
        run: terraform -chdir=prod validate

      - name: Terraform Apply
        run: terraform -chdir=prod apply -auto-approve
